GRAFANA_USER={{grafana_user}}

GRAFANA_GROUP={{grafana_group}}

GRAFANA_HOME={{grafana_home}}

LOG_DIR={{log_dir}}

DATA_DIR={{data_dir}}

MAX_OPEN_FILES={{max_open_files}}

CONF_DIR={{conf_dir}}

CONF_FILE={{conf_file}}

RESTART_ON_UPGRADE={{restart_on_upgrade}}
